@using searchqueryapp.Data.model

@*<div class="col-sm-6">*@

    <p class="sampleText">
        Result Count : @queryResult.count 
    </p>

    @foreach (var result in queryResult.processedResults)
    {
        <table class="result-table">
            <tbody>
                @if (result["filename"] != null)
                {
                    <tr class="result-table-row">
                        <td class="sampleTitle">
                            @((MarkupString)result["filename"]) 

                            @*@if (result["source"] != null)
                            {
                                <a class="label" href="@result["source"]" target="_blank">Play Audio</a>
                            }*@
                        </td>
                    </tr>
                    <br />
                }
                @if (result["highlights"] != null)
                {
                    <tr class="result-table-row">
                        <td class="sampleText">
                            <span class="sampleLabel">Summary: </span>@((MarkupString)result["highlights"])
                        </td>
                    </tr>
                    <br />
                }
                @if (result["speakerTranscription"] != null)
                {
                    <tr class="result-table-row" >
                        <td class="sampleText">
                            <span class="sampleLabel">Full Transcript: </span><br />@((MarkupString)result["speakerTranscription"])
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }

@*</div>*@


@code {

    [Parameter] public Result queryResult { get; set; }

}